<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="container">

      <div class="outermost">
        <div class="hed">Income flows between Bay Area and Texas</div>
        <div class="chatter">Some big-name Silicon Valley companies are growing in Texas, including Oracle, Google and Apple. Residents — and their taxable income — have also made the trek. Between 2001 and 2012, the Bay Area lost 7,860 households to the Lone Star State, taking more than $1 billion in taxable income with them, after adjusting for inflation. Here’s the movement of taxable incomes between Texas and the Bay Area from 1997-2012.</div>
        <div class="tooltip"></div>

        <div class="legend-title">Wealth flow (click to show and hide individual counties)</div>
        <div class="legend-container">
          <div class="legend">
            <div class="bay swatch key"></div>
            <div class="alameda swatch key"></div>
            <div class="cc swatch key"></div>
            <div class="marin swatch key"></div>
            <div class="sf swatch key"></div>
            <div class="sm swatch key"></div>
            <div class="sc swatch key"></div>
            <div class="solano swatch key"></div>
          </div>
          <div class="legend">
            <div class="key">Bay Total</div>
            <div class="key">Alameda</div>
            <div class="key">Contra Costa</div>
            <div class="key">Marin</div>
            <div class="key">San Francisco</div>
            <div class="key">San Mateo</div>
            <div class="key">Santa Clara</div>
            <div class="key">Solano</div>
          </div>
        </div>
        <canvas width=620 height=320></canvas>

        <div class="note"><em>Note: IRS data only counts tax-paying residents, which often excludes the elderly and very poor. By most estimates, it captures 80 percent of the population.</em></div>
        <div class="source">Source: <a href="https://www.irs.gov/uac/SOI-Tax-Stats-Migration-Data">Internal Revenue Service county-to-county migration data</a></div>
        <div class="credit">Emma O'Neill / The San Francisco Chronicle</div>
      </div>
    </responsive-child>

    <script>
    <%
      var years = [1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012];
      var data = {};
      csv.AGI.forEach(function(row) {
        var obj = {};
        years.forEach(function(year) {
          obj[year] = {
            AGI: row[year]
          };
        });
        data[row.county] = obj;
      });
      csv.AGI_adj_K.forEach(function(row) {
        years.forEach(function(year) {
          data[row.county][year].percent = row[year];
        });
      });
    %>
    var MigrationData = <%= JSON.stringify(data) %>
    console.log(MigrationData);
  </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
